@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: rgb(15, 15, 59);
}

header {
    background-color: rgb(15, 15, 59);
    align-items: right;
    justify-content: flex-end;
    margin-right: 10px;
}

.header-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(15, 15, 59);
    margin: 0;
    padding: 10px;
}

.header-icons img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    transition: transform 0.5s ease-in-out;
}

.header-icons img:hover {
    transform: scale(1.45);
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background {
    display: flex;
    position: relative;
    width: 100vw;
    height: 85vh;
    background-image: url("/assets/FundoPortifolio.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8); 
}

.imagemesquerda {
    align-self: center;
    margin-right: 50px;
    margin-left: 50px;
    width: 800px; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

.texto {
    position: absolute;
    top: 37%;
    right: -7%;
    transform: translate(-30%, -40%);
    background-color: rgba(31, 9, 126, 0.7);
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 22px;
    text-align: justify;
    border-radius: 10px;
    width: 780px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Adiciona uma sombra ao texto */
}


.footer img {
    width: 68px; /* Ajuste a largura conforme desejado */
    height: 68px; /* Ajuste a altura conforme desejado */
    opacity: 0.6;
    padding-top: 5px;
}
    

@media screen and (max-width: 768px) {
    /* Estilos para telas menores que 768px */
    .background {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .imagemesquerda {
        margin: 20px;
        width: 80%; /* Ajuste a largura conforme necessário */
    }

    .texto, .botoes {
        position: static;
        width: auto;
        transform: none;
        margin: 20px;
        padding: 15px;
        font-size: 18px;
    }

    .botoes {
        flex-direction: column; /* Alinha os botões verticalmente */
        align-items: center; /* Centraliza os botões horizontalmente */
        padding-bottom: 0; /* Remove o espaçamento inferior */
    }

    .botao {
        width: 100%;
        margin-bottom: 10px;
    }
}

  
